.line {

    & {
        margin-bottom: 2.8rem;
    }

    &__main {
        border-top:1px dotted #E5E5E5;
        color:#fff;
        background-color:#fff;
        height:1px;
        max-width: 100%;
    }    
}

   


   